.frame-child1 {
  position: absolute;
  top: 27.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 366px;
  height: 1px;
}
.deep2 {
  color: var(--color-darkred);
}
.challenge-from-deep-container2,
.div7,
.entry-fee3,
.prize3 {
  position: absolute;
  top: 6px;
  left: 10px;
  font-weight: 600;
}
.div7,
.entry-fee3,
.prize3 {
  top: 29px;
  left: 117px;
}
.div7,
.entry-fee3 {
  left: 10px;
}
.div7 {
  top: 1px;
  left: 41px;
}
.global-rupeeicon-16 {
  position: absolute;
  top: 0;
  left: 11px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.parent3,
.parent4 {
  position: absolute;
  top: 51px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 75px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.parent4 {
  left: 101px;
}
.spinner-of-dots-1-icon {
  position: absolute;
  top: 45px;
  left: 243px;
  width: 25px;
  height: 24px;
  object-fit: cover;
}
.finding {
  position: absolute;
  top: 47px;
  left: 278px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--color-darkslategray-100);
}
.line-parent1 {
  position: absolute;
  top: 247px;
  left: calc(50% - 182px);
  border-radius: var(--br-7xs);
  background: linear-gradient(
    180deg,
    rgba(255, 233, 233, 0.93),
    rgba(255, 255, 255, 0)
  );
  box-shadow: -6px 4px 50px 5px rgba(0, 0, 0, 0.25);
  width: 365px;
  height: 87px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
